!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel=>"stylesheet"}
    %title WDFAC
    %meta{:content => "Reverse Lane Defense with Rock-Paper-Scissors creeps", :name => "description"}/
    %meta{:content => "WDFAC", :property => "og:title"}/
    %meta{:content => "Reverse Lane Defense with Rock-Paper-Scissors creeps", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "https://datenshizero.github.io/wdfac", :property => "og:url"}/
    %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    %link{:href => "./favicon.ico", :rel => "shortcut icon"}/
    %link{:rel => "stylesheet", :href => stylesheet_path('app') } 

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    - if ENV['RACK_ENV'] == 'production'
      #fb-root
    .container.main-container
      .row
        .col-lg-12
          #game-container
      .row
        .col-lg-12
          .footer
            %p.copyright
              Copyright &copy;2014
              %a{:href => "http://bryanbibat.net"} Bryan Bibat
            %p.powered
              Made with <a href="http://getbootstrap.com/">Bootstrap</a>, 
              <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> and a bunch of JS libraries.
            - if ENV['RACK_ENV'] == 'production'
              %p
                .g-plusone{"data-size" => "medium"}
                %a.twitter-share-button{"data-text" => "Play WDFAC, a DotA inspired game where battles are decided by Rock-Paper-Scissors!", href: "https://twitter.com/share"} Tweet
                .fb-share-button{"data-type" => "button_count"}
            %p 
              %a{ href: "https://github.com/datenshiZERO/wdfac" } Fork this on Github
    %script{:type => "text/javascript", :src => javascript_path("app")}
    - if ENV['RACK_ENV'] == 'production'
      / Piwik
      :javascript
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.bryanbibat.net/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 12]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
          g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      %noscript
        %p
          %img{:alt => "", :src => "http://analytics.bryanbibat.net/piwik.php?idsite=12", :style => "border:0;"}/
      / End Piwik Code
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      :javascript
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
