/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face {
  font-family:"Army Wide";
  src: 
    font-url("Army_Wide.eot?") format("eot"),
    font-url("Army_Wide.woff") format("woff"),
    font-url("Army_Wide.ttf") format("truetype"),
    font-url("Army_Wide.svg#ArmyWide") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Special Elite";
  src: 
    font-url("SpecialElite-webfont.eot?") format("eot"),
    font-url("SpecialElite-webfont.woff") format("woff"),
    font-url("SpecialElite-webfont.ttf") format("truetype"),
    font-url("SpecialElite-webfont.svg#SpecialElite") format("svg");
  font-weight:normal;
  font-style:normal;
}

/* Design based on Bootswatch Darkly http://bootswatch.com/darkly/ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #FFF;
    background-color: #222;
    margin: 0;
    padding: 0;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

h1, .h1 {
    font-family: "Army Wide", "Georgia", serif;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
}

h2, .h2 {
    font-size: 32px;
}

h3, .h3 {
    font-size: 26px;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}

h4, .h4 {
    font-size: 19px;
}

p {
    margin: 0px 0px 10.5px;
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
a:hover, a:focus {
    color: #0CE3AC;
    text-decoration: underline;
}
a {
    color: #0CE3AC;
    text-decoration: none;
    background: none repeat scroll 0% 0% transparent;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:992px){
  .container {
      width: 970px;
  }
}


.footer {
  margin-top: 50px;
  font-size: 90%;
  text-align: center;
}

.fb-share-button > span {
  vertical-align: baseline !important;
}

#game-container {
  text-align: center;
}

#game-container canvas {
  margin: 0px auto;
}

#orientation {
  display: none;
}
